.btn {
    min-width: 90px;
    background-color: blue;
    padding: 10px;
    font-size: medium;
    margin: 10px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}

.btn:hover {
    background-color: black;
    color: wheat;
}

.btn:active {
    background-color: red;
    color: black;
}